/*
!.gitignore
!LICENSE
!yayinstall.sh
!yayinstall.txt


########## HYPRLAND ##########
!hypr/
hypr/*

!hypr/monitors.conf

!hypr/custom
hypr/custom/*
hypr/custom/*/*
!hypr/custom/env.lua
!hypr/custom/execs.lua
!hypr/custom/general.lua
!hypr/custom/keybinds.lua


############ FISH ############
!fish
fish/*

!fish/config.fish


########## VIVALDI ###########
!vivaldi
vivaldi/*
!vivaldi/css
vivaldi/css/*

!vivaldi/css/custom.css


############ BTOP ############
!btop
btop/*

!btop/btop.conf


########### SCRIPTS ##########
!scripts/
scripts/*

!scripts/record.sh
!scripts/launch_first_available.sh


########## SYMLINKS ##########
!symlinks/
symlinks/*

!symlinks/i8kmon.conf
!symlinks/i8kmon.backup.conf


########## SERVICES ##########
!systemd/
systemd/*
!systemd/user/
systemd/user/*

!systemd/user/protonvpn-startup.service
