/*header {
	display: none;
}

button.vivaldi {
	display: none;
}

#tabs-container {
	padding-left: 8px !important;
	padding-top: 3px;
	padding-bottom: 4px;
}

#tabs-tabbar-container {
	height: 39px !important;
}

.UrlBar-AddressField {
	width: 280px;
}*/

.theme-dark .favicon:not(.svg) {
	filter: none !important;
}

#webview-container {
	padding: 3px 4px 4px 4px;
}

#webpage-stack {
	border-radius: 10px;
    	border: 1.5px solid rgba(255, 255, 255, 0.05);
}

#tabs-container {
	margin-right: -4px;
}

#tabs-container > .resize {
	padding: 0px 6px;
}
